<% provide(:title, "Edit user") %>
<center>
<h1>UPDATE YOUR PROFILE</h1>
</center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= "名前" %>
      <%= f.text_field :username, class: 'form-control' %>
      <br/>

      <%= "ユーザーネーム" %>
      <%= f.text_field :name, class: 'form-control' %>
      <br/>

      <%= "性別" %>
      <%= f.select :gender, "<option value=0>Female</option><option value=1>
        Male</option></select>".html_safe, {include_blank: "[select]"},
        {class: "form-control"} %>
        <br/>
        
      <%= "アバター" %>
      <%= f.file_field :avatar %>
      <br/>

      <%= f.submit "変更する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
