<div class="card card-inverse card-success mb-3 " style="max-width: 15rem; max-height: 20rem">
  <%= image_tag book.image.url, :size => "225x320", class: "card-img-top img-fluid border-success"%>
  <div class="card-block">
    <h4 class="card-title border-primary"><%= link_to book.title, book %></h4>
    <h6 class="card-subtitle mb-2 text-muted">Author: <%= book.author %></h6>
    <p class="card-text"></p>
    <% if logged_in? and current_user.admin? %>
    <a href="#" class="card-link"><%= link_to 'Edit', edit_book_path(book)%></a>
    <a href="#" class="card-link"><%= link_to 'Destroy',
     book, method: :delete, data: { confirm: 'Are you sure?' } %></a>
     <% end %>

   </div>
   <div class="card-footer border-primary">
   <small class="text-muted">
    Last updated <%= time_ago_in_words(book.updated_at) %> ago
   </small>
  </div>
  <br>
</div>
