<% provide :title, "New book" %>
<h1><%= "Create Book" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>

      <%= "本の名" %>
      <%= f.text_field :title, class: "form-control" %>

      <%= "本の作者" %>
      <%= f.text_field :author, class: "form-control" %>

      <%= "本のISBN" %>
      <%= f.text_field :isbn, class: "form-control" %>

      <%= "本の出版社" %>
      <%= f.text_field :publisher, class: "form-control" %>

      <%= "本の発売日" %>
      <%= f.text_field :publish_date, class: "form-control" %>

      <%= "カテゴリーのID" %>
      <%= f.text_field :categoryid, class: "form-control" %>

      <%= "本の写真" %>
      <span class="picture">
      <%= f.file_field :image %>
      </span>

      <%= f.submit "Create book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
