<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": true %>

<div class="book-detail">
  <div class="content">
    <div class="row">
      <div class="col-md-3 left-section">
        <%= image_tag @book.image.url, :class => "image" %>
        <div class = "info">
          <h5 class="title">Category</h5>
          <nav class="data"><%= Category.find_by_id(@book.categoryid).name %></nav>
        </div>
        <div class = "info">
          <h5 class="title">Publisher</h5>
          <nav class="data"><%= @book.publisher %></nav>
        </div>
        <div class = "info">
          <h5 class="title">Publisher Date</h5>
          <nav class="data"><%= @book.publish_date %></nav>
        </div>
        <div class = "info">
          <h5 class="title">Isbn</h5>
          <nav class="data"><%= @book.isbn %></nav>
        </div>
        <div class = "info">
          <h5 class="title">Rate Point</h5>
          <%= rating_for @book, "original_score",
            {readonly: true, imdb_avg: true} %>
        </div>
      </div>
      <div class="col-md-9 right-section">
        <div class="card-block">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="card-title"><%= @book.title %></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= @book.author %></h6>
            </li>
            <li class="list-group-item">
              <div class="card-text description">
                <h5>Description</h5>
                <p><%= @book.description %></p>
              </div>
              <div class="card-text">
                  <% if logged_in? %>
                    <%= render partial: 'bookmarks/bookmark_button',
                         locals: {book: @book} %>
                    <% if not current_user.admin? %>
                      <%= link_to 'Write a Review',
                      new_review_path(:bookid => params[:id]), :class => "btn btn-primary"%>
                    <% end %>
                  <% end %>
              </div>
              <div class="card-text reviews">
                <h5>Reviews</h5>

                <% @reviews.each do |review| %>
                  <% user = User.find(review.user_id) %>
                  <div class="review">
                    <div class="author row">
                      <div class="col-md-1 avatar">
                        <%= display_avatar user, "50x50" %>
                      </div>
                      <div class="col-md-10 title">
                        <span>
                          <%= link_to review.title, review, :class => "card-title" %>
                        </span>
                        <h6 class="card-subtitle mb-2 text-muted">
                          <%= user.name %>
                          <div class="readonly-star">
                            <%= rating_for_user @book, user, "original_score",
                              { :star => 5 } %>
                          </div>
                        </h6>
                        <div class="content">
                          <p class="review-content"><%= simple_format(review.content) %></p>
                        </div>
                        <% @review = review %>
                        <% if logged_in? %>
                        <%= render partial: 'likes/like_button',
                         locals: {review: @review} %>
                         <% end %>
                        <span id="count-like-<%= @review.id %>">
                          <%= @review.likes.count %> people like this
                        </span>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if @reviews.count > 10 %>
                  <div class="digg_pagination">
                    <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
                  </div>
                <% end %>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    $(".review-content").each(function(i){
      len=$(this).text().length;
      if(len>80)
      {
        $(this).text($(this).text().substr(0,120)+' ...');
      }
    });
  });
</script>
