<% @book = Book.find_by_id(params['bookid']) %>
<h1><%= "Create New Review for " + @book.title %></h1>
<%= image_tag @book.image.url, :size => "225x320" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review do |f| %>

      <%= "Title" %>
      <%= f.text_field :title, class: "form-control" %>
      Speed : <%= imdb_style_rating_for @book, current_user %>
      <% if current_user %>
        Vote for this book: <%= rating_for @book, "original_score", enable_half: true, imdb_avg: true %>
      <% end %>
      <%= "Content" %>
      <%= f.text_area :content, :class => "tinymce",
        :rows => 40, :cols => 120%>
      <%= tinymce :alternate %>


      <%= f.hidden_field :book_id, value: params['bookid'] %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

