<div>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark header">
    <div id="navbarNavDropdown" class="navbar-collapse collapse container">
      <ul class="navbar-nav">
        <%= link_to "IbookX",books_path, :class => "navbar-brand"%>
      </ul>
      <ul class="nav navbar-nav navbar-logo mx-auto">
        <li>
          <form class="navbar-form navbar-left mx-auto">
            <%= form_tag(books_path, :method => "get", id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :term, params[:term], placeholder: "Search Books ...", :class => "form-control search-bar", :size => "40" %>
              <span class="input-group-addon">
                <button type="submit" class="search-button">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div>
            <% end %>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav header-right">
        <li>
          <%= link_to "Books", books_path, :class => "nav-link" %>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" id="Account">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="Account">
                <%= link_to "Profile", edit_user_path(current_user), :class => "dropdown-item" %>
                <%= link_to "Settings", '#', :class => "dropdown-item" %>
              <div class="dropdown-divider"></div>
                <%= link_to "Log out", logout_path, method: :delete, :class => "dropdown-item" %>
            </div>
          </li>
        <% end %>

        <% if logged_in? and current_user.admin? %>
          <li>
            <%= link_to 'New Book', new_book_path, :class => "nav-link" %>
          </li>
        <% end %>

        <% if not logged_in? %>
          <li class="nav-item">
            <li><%= link_to "Log in", login_path, :class => "nav-link" %></li>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
